<div class="container relative">
  <h1 class="h1-like fw-400 m-t-0 m-b-2 text-center">{{ messages.favorites }}</h1>
</div>

<div class="collection-products m-b-50">
  <div class="container">
    <div class="row is-grid flex-center">
      {% for product in products %}
        <div class="cell-3 m-b-30 cell-4-m cell-6-sm cell-12-xs">
          {% include 'product-item' %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>